@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.header-top {

background-color: #d1193e ;
text-align: center;
color: #f8f9fa;
font-weight:bolder;
font-size: 1rem;
padding: 0.5rem;


}





@media (max-width: 1000px) {
  .grid {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
  }

  .gird-col .slider {
    width: 300px;
    height: 300px;
    margin-left: 2.5rem;
    
  }


  .details h3 {
    font-size: 0.5rem;
  }


  .details   h4 {
    padding-top: 20px;
    font-size: 1rem;
    color: #f8f9fa ; 
  }


}






.landing img {
  width: 100%;
  height: 100%;
}

.landing {
  position: relative;
  min-height: 100vh;
  
  width: 100%;
  /* background-color: #d90429; */
}

.landing video {
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: -10;
  height: 100vh;
}

.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 15rem);
  grid-template-rows: auto;
  width: 80%;
  gap: 70px;
  display: flex;
}





.parent {
  position: relative;
  height: 100vh;
  width: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.parent video {
  position: absolute;
  z-index: -1;
  inset: 0;
}

.slider-main {
  color: aliceblue;
  text-align: center;
  margin-top: 60px;
}
.details h3 {
  font-size: 2rem;
}
h4 {
  padding-top: 20px;
  font-size: 1rem;
  color: #f8f9fa ; 
}

.details2 {
  color: #353535;
  padding-top: 15px;
  font-size: 1.2rem;
  border:1px #f8f9fa solid;
  padding: 0.5rem;
  border-radius: 7px;
  margin-top: 5px;
  background-color: #f5cb5c;
}

.booking {
  padding: 1rem;
  border: #ffddd2;
  border-radius: 0.5rem;
  margin-top: 2rem;
  color: #ffddd2;
  background-color: #ee3e38;
  cursor: pointer;
}

.booking p {
  font-size: 0.7rem;
}

.booking:hover {
  opacity: 0.9;
  scale: 1.02;
}

.booking h5 {
  font-size: 1.5rem;
}

.coupon {
  padding-top: 0.7rem;
  font-size: 0.85rem;
}

.navbar {
  display: flex;
  background-color: #f8f9fa;
  padding: 2.1rem 3.1rem;
  justify-content: space-between;
}

.header {
  justify-content: space-between;

  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 1rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.slider {
  width: 420px;
  height: 420px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.slides {
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 1s;
}

.slide img {
  width: 500px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 400px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

/* media queris  header */

@media (max-width: 850px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .header {
    display: block;
    margin-top: 1rem;
  }
}

/* Google Justdail reviews section */

.Rated {
  text-align: center;
  font-size: 2.1rem;
  margin-top: 10rem;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  margin-top: 3.1rem;
  display: grid;
  grid-template-columns: repeat(2, 250px);
}

.google p {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 1.5rem;
}

.justdial p {
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .reviews {
    display: grid;
    grid-template-columns: repeat(1, 200px);
     gap: 2rem;
  }

  .justdial p {
    margin-top: 0.1rem;
  }
  .Rated {
    font-size: 1.8rem;
  }
}

/* 3 step Holistic hair restoration SECTION !!!!! */

.step h2 {
  text-align: center;
  margin-top: 6.25rem;
  font-size: 2.1rem;
}

.step p {
  margin-top: 1.4rem;
  text-align: center;
  font-size: 1.3rem;
}

/*    3 step Holistic hair restoration GRID !!!!!   */

.steps-grid {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  margin-top: 50px;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

@media (max-width: 720px) {
  .steps-grid {
    grid-template-columns: repeat(1, 21.21rem);
  }
}

.steps {
  text-align: center;

  border-radius: 0.8rem;
  background-color: #f9e7b7;
  line-height: 1.5;
  padding-bottom: 10px;
  max-width: 350px;
  
  
}

.steps:hover {
  scale: 1.03;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.our {
  padding: 0.8rem;
}

.steps h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.steps h3 {
  padding-top: 2rem;
  padding-bottom: 1.4rem;
}

.steps p {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.book-hair {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  color: #353535;
  border: #353535 solid;
  padding: 0.8rem;
  background-color: #d90429;
  color: #f8f9fa;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
}

.book-hair:hover {
  opacity: 0.8;
  scale: 1.02;
}

.book-hair p {
  font-size: 1rem;
}
.coupon2 {
  text-align: center;
  font-size: 1rem;
  margin-top: 0.8rem;
}

/* The 5 Hair Reversal Expertise at Clion Care Clinic   Style  */

.expertise {
  margin-top: 3.1rem;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
}

.expertise-images {
  justify-content: center;
  display: flex;
  margin-top: 3.1rem;
  margin-bottom: 3.75rem;
}

.rev:hover {
  scale: 1.07;
  cursor: pointer;
  transition: 0.4s ease-in-out;

  box-shadow: 5px 5px 10px 1px #353535;
}

@media (max-width: 900px) {
  .expertise-images {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

/*   <!-- The Right Hair Transplant gives you Permanent Results   carousel  section !!!! - -  >   */

.containerrr {
  width: 100%;

  background: #00171f;

  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.swiper {
  width: 70%;
  height: fit-content;
  position: relative;
}
.swiper-slide img {
  width: 100%;
  height: 30rem;
  opacity: 0.8;
  border-radius: 4rem;
  margin-bottom: 30px;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #fff;
}

.swiper-slide .text {
  position: absolute;
  top: 0;
  padding: 50px;
}

.text h2 {
  text-align: center;
  font-size: 3.1rem;
  padding-bottom: 1.3rem;
  color: #d90429;
}

.text p {
  color: #f8f9fa;
  text-align: center;
  font-size: 1.5rem;
}

.transplant {
  padding: 2.5rem;
  color: #f8f9fa;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

@media (max-width: 720px) {
  .text h2 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 1rem;
  }

  .swiper {
    width: 80%;
  }

  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    font-size: 0.2rem;
  }
}

/* The 7 Takeaway of your Free Scalp Analysis  styling carousel STYLING  */

.carousel {
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.cro {
  margin: 3rem;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100%;
  height: 555px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 7;
  --middle: 5;
  --position: 2;
  pointer-events: none;
}


 .top {

   

 }

#carousel p {
  justify-content: center;
  text-align: center;

  font-size: 28px;
  padding: 5px;
  font-weight: bold;
}

div.item {
  position: absolute;
  width: 300px;
  height: 550px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  background-color: #f5cb5c;
   text-align: center;
}

.div.item img {

  width: 5rem;

 height: 200px;
  

}





div.item:nth-of-type(1) {
  --offset: 1;

}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}
div.item:nth-of-type(4) {
  --offset: 4;
}
div.item:nth-of-type(5) {
  --offset: 5;
}
div.item:nth-of-type(6) {
  --offset: 6;
}
div.item:nth-of-type(7) {
  --offset: 7;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}
/*
input:nth-of-type(6) {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ main#carousel {
  --position: 6;
}
            
input:nth-of-type(7) {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}
input:nth-of-type(7):checked ~ main#carousel {
  --position: 7;
}                             */

/* book button styling  after  The 7 Takeaway of your Free Scalp Analysis */

.book-button {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 5px;
  align-items: center;
  margin-top: 50px;
}

.child {
  font-size: 25px;
  padding: 16px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #d90429;
  color: #f8f9fa;
  margin-bottom: 5px;
}
#only {
  font-size: 15px;
}

.child:hover {
  opacity: 0.8;
  scale: 1.02;
}

.coupon-2 {
  justify-content: center;
  text-align: center;
  margin-top: 1px;
  font-size: 14px;

  margin-bottom: 50px;
}

/*          <!--   Frequently Asked Questions  SECTION  !!!! -->       */


.parent-faq{

margin: auto;
}


.parent-faq h2{

text-align: center;

}
  





.section-faq {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f9e7b7;
}

.title {
  font-size: 3.1rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.faq {
  max-width: 56rem;
  margin-top: 3.1rem;
  padding-bottom: 1.2rem;
  border-bottom: #353535 2px solid;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
}

.question h3 {
  font-size: 1.5rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.3s ease;
}

.answer p {
  padding-top: 0.7rem;
  line-height: 21px;
  font-size: 1.1rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.3s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* media queris doctors  */

@media (max-width: 2px) {
  .section-faq {
    width: 50%;
  }
}

/* <!--      2500+  Success  Stories  & Counting     SECTION  !!!! --> */

.success {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success p {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 50px;
}

.success img {
  width: 100%;
  max-width: 1000px;
}

@media (max-width: 720px) {
  .success img {
    width: 26rem;
  }
}

/*         <!--      You Deserve Experienced Dermatologists    SECTION  !!!! -->*/

#title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 3.7rem;
  margin-bottom: 2.2rem;
}

.grid-expert {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  grid-template-rows: auto;
  text-align: center;
  justify-content: center;
  gap: 8rem;
  background-color: #f8f9fa;
  border-radius: 2rem;
  
}

.grid-doc {
  border-radius: 0.5px;
  border: none;
  padding: 2.5px;
  margin-bottom: 2.5px;
  margin-top: 3rem;
  box-shadow: 2px 2px 9px 1px #353535;
  background-color: #f9e7b7;
  border-radius: 1rem;
  max-width: 400px;
  align-self: center;
}

.doc-img {
  padding: 1.3rem;
  align-items: center;
  max-width: 290px;
  width: 80%;
}

.grid-doc h2 {

  padding: 0.8rem;
 
}




.grid-doc:hover {
  scale: 1.03;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

/* media queris doctors  */

@media (max-width: 720px) {
  .grid-expert {
    grid-template-columns: repeat(1, 20rem);
  }

  .doc-img {
    width: 15rem;
    height: 15rem;
  }
}






.book-popup {

  margin-left: 6rem;
  margin-top: 2rem;
}


.book-popup button {

background-color: #0174c7;
font-size: 1.5rem;
 color: #f8f9fa;
 border-radius: 5px;
 padding: 6px;

}





.popup {
  position: fixed;
  width: 100%;
  max-width: 1000px;
  display: grid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: #f8f9fa;
  box-shadow: 2px 2px 5px black;
  border-radius: 8px;
  grid-template-columns: repeat(2, 1fr);
  /* display: none; */
  /* opacity: 0; */
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  justify-content: center;
}

#popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.popup .check {
  display: flex;
}

.popup .grade {
  display: flex;
}


.form {

     align-items: center;
padding-left: 10rem;

}

.form h2 {
  
  font-size: 2rem;
  padding-bottom: 0.8rem;


}


.form p {
  
  font-size: 1.4rem;
  padding-bottom: 0.8rem;


}


.form h5 {
  
  font-size: 1.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;


 text-align: left;
}

.form-element input{

  font-size: 1.3rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  padding-right: 25rem;



}

.form-element {

  font-size: 1.5rem;
  


}